@font-face {
    font-family: 'Cyberpunk';
    src: url('../fonts/Cyberpunk-Regular.woff2') format('woff2'),
        url('../fonts/Cyberpunk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Стили обнуления */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
body {
	line-height: 1;
	color: #fff;
	background-color: rgb(251, 255, 0);
	font-family: 'Cyberpunk';
}
/* ------------------ */
*{
	transition: all 0.5s ease 0s;
}
*:hover{
	transition: all 0.5s ease 0s;
}
.header {
	/* height: 60px; */
	background-color: rgb(0, 197, 231);
	position: fixed;
	width: 100%;
}
main {
	background: url('../img/1.jpg') 0 0 no-repeat;
}

.menu {
	display: block;
	height: 100%;
	position: sticky;
	/* padding: 20px 0; */
	width: 60%;
	margin: 0 auto;
	min-width: 887px;
	/* position: relative; */
	z-index: 3;
	top: 0;
}
.menu a{
	text-transform: uppercase;
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 20px 5px;
}

.menu__ul > li{
	display: inline-block;
	margin-right: 5%;
	
}
.menu__ul > li:last-of-type{
	margin-right: 0px;
}
.menu__a {
	color: green;

}
.menu__ul2 {
	position: absolute;
	top: 100%;
	background: rgba(0, 165, 27, 0.74);
	
}
.menu__ul2 > li {
	/* padding: 0px 5px; */
	position: relative;

}
.menu__ul > li:last-of-type .menu__ul2 > li .menu__ul3{ 
	left: -105%;
}  /* НУ и МАТРЕШКА Б...ТЬ*/

.menu__a2 {
	color: hotpink;
}
.menu__ul3 {
	position: absolute;
	left: 100%;
	top: 0;
	background: rgba(0, 2, 109, 0.74);
	/* padding: 10px 5px; */
	z-index: 1;
}
.menu__ul3 > li{
	padding: 0px 5px;

}
.menu__a3 {
	color: rgb(0, 255, 213);
}
.menu__ul2,.menu__ul3{
	display: none;
}

.menu__ul > li:hover .menu__ul2{
	display: block;
}
.menu__ul > li:hover .menu__a{
	/* width: 100%;
	height: 100%; */
	color: red;
	background-color: rgba(255, 230, 0, 0.521);
}
.menu__ul2 > li:hover .menu__ul3{
	display: block;
}
.menu__ul2 > li:hover .menu__a2{
	/* width: 100%;
	height: 100%; */
	color: rgb(255, 145, 0);
	background-color: rgba(17, 0, 255, 0.521);
}



img{
	width: 100%;
	margin-bottom: 300px;
}


/* машинка */
.car {
	width: 960px;
	height: 236px;
	/* background: url('../img/car.jpg') 0 0 no-repeat; */
	margin: 0 auto;
	margin-bottom: 300px;
}
.car *{
	display: inline-block;
	font-size: 0px;
}
.top {
	height: 78px;
}
.block1 {
	width: 340px;
	height: 100%;
	background-color: rgba(240, 124, 124, 0);
}
.block2 {
	height: 100%;
	width: 140px;
	border-left: 70px solid rgba(255, 255, 255, 0);
	border-top: 39px solid rgba(255, 255, 255, 0);
	border-right:70px solid gray;
border-bottom:39px solid gray ;
}
.block22 {
	display: block;
	height: 66.85px;
	width: 120px;
	margin: 0px 0px 0px auto;
	border-right: 60px solid rgb(0, 255, 191);
	border-bottom: 33.445px solid rgb(0, 255, 191); 
	border-left: 60px solid rgba(55, 255, 255, 0);
	border-top: 33.445px solid rgba(215, 255, 255, 0);
	/* border-left: transparent;
	border-top: transparent; */
	margin-top: -28px;
	margin-left: -50px;
}
.block12 {
	height: 100%;
	width: 90px;
	border-top: 25px solid gray;
	border-right: 25px solid gray;
	background:rgb(0, 255, 191) ;
	position: relative;
	/* top: -68%; */
}
.block121 {
	position: absolute;
	height: 13.85px;
	width: 65px;
	border-right: 32.5px solid gray;
	border-bottom: 6.925px solid rgb(0, 255, 191); 
	border-left: 32.5px solid rgb(0, 255, 191);
	border-top: 6.925px solid  gray;
	z-index: 1;
	top: -13.85px;
}
.block__round {
	position: absolute;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	box-shadow: inset 1px 5px 6px 0.5px #ff00b3, -1px 2px 1px 0px #a200ff  ;
	border: 1px solid #000;
	right: -20px;
	top: -20px;
}
.block__round1 {
	position: absolute;
	height: 15px;
	width: 15px;
	border-radius: 50% 50% 0px 0px;
	border-bottom: none;
	border: 1px solid #000;
	border-bottom: 1px solid rgba(253, 0, 232, 0.459);
	box-shadow: inset 1px 5px 6px 0.5px #ff00b3, -1px 2px 1px 0px #a200ff ;
	right: -20px;
	top: 0px;
}
.block__round2 {
	position: absolute;
	height: 15px;
	width: 15px;
	border-radius: 50% 50% 0px 0px;
	border: 1px solid #000;
	border-bottom: 1px solid rgba(253, 0, 232, 0.459);
	box-shadow: inset 1px 5px 6px 0.5px #ff00b3, -1px 2px 1px 0px #a200ff ;
	right: -20px;
	top: 20px;
}
.block3 {
	position: relative;
	width: 70px;
	height: 100%;
	border-top: 25px solid #000;
	border-bottom: 25px solid #000;
	border-left: 5px solid #000;
	border-radius: 1px 178px 64px 0px / 0px 69px 7px 0px;
	/* border-right: 25px solid gray; */
	background-color: #9900ff;
}
.block31 {
	width: 25px;
	height: 29px;
	background-color: gray;
	position: absolute;
	right: 0px;
}
.block32 {
	width: 40px;
	height: 15px;
	position: absolute;
	bottom: -15px;
	border-top: 7.5px solid #9900ff;
	border-bottom: 7.5px solid #000;
	border-left: 20px solid #9900ff;
	border-right: 20px solid rgb(0, 0, 0);
}
.block4 {
	width: 228px;
	height: 53px;
	border-radius: 0px 228px 0px 0px / 0px 50px 0px 0px;
	background-color: #000;
	position: relative;
	z-index: 1;
}
.block41 {
	width: 150px;
	height: 53px;
	border-radius: 0px 150px 0px 0px / 0px 45px 0px 0px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: grey;
}
.block42 {
	position: absolute;
	width: 25px;
	height: 24px;
	bottom: 0px;
	border-top: 12px solid grey;
	border-bottom: 12px solid #000;
	border-right: 12.5px solid grey;
	border-left: 12.5px solid rgb(0, 0, 0);
}
.block5 {
	width: 92px;
	height: 78px;
	position: relative;
	border-top: 39px solid rgba(255, 255, 255, 0);
	border-bottom: 39px solid rgb(0, 0, 0);
	border-right: 46px solid #000;
	border-left: 46px solid #ffffff00;
	z-index: 0;
left: -30px;
}
.block51 {
	position: absolute;
	width: 30px;
	height: 30px;
	border-top: 15px solid rgba(0, 0, 0, 0);
	border-bottom: 15px solid rgb(255, 255, 0);
	border-right: 15px solid rgb(255, 255, 0);
	border-left: 15px solid #00000000;
	left: 16px;
   top: 9px;

}
.block52 {
	position: absolute;
	width: 30px;
	height: 10px;
	border-right: 1px solid #fffb00;
	border-bottom: 2px solid #fffb00;
	border-radius: 0 36% 48% 0;
   box-shadow: 2px 3px 4px -1px #fbff00;
	right: -30px;
	top: 0;
	right: -75px;
   top: -39px;
	background-color: #000;
}
.block53 {
	position: absolute;
	width: 30px;
	height: 10px;
	border-right: 1px solid #fffb00;
	border-bottom: 2px solid #fffb00;
	border-radius: 0 36% 48% 0;
   box-shadow: 2px 3px 4px -1px #fbff00;
	right: -30px;
	top: 0;
	right: -75px;
   top: -29px;
	background-color: #000;
}
.block54 {
	position: absolute;
	width: 30px;
	height: 10px;
	border-right: 1px solid #fffb00;
	border-bottom: 2px solid #fffb00;
	border-radius: 0 36% 48% 0;
   box-shadow: 2px 3px 4px -1px #fbff00;
	right: -30px;
	top: 0;
	right: -75px;
   top: -19px;
	background-color: #000;
}
.block55 {
	position: absolute;
	width: 30px;
	height: 10px;
	border-right: 1px solid #fffb00;
	border-bottom: 2px solid #fffb00;
	border-radius: 0 36% 48% 0;
   box-shadow: 2px 3px 4px -1px #fbff00;
	right: -30px;
	top: 0;
	right: -75px;
   top: -9px;
	background-color: #000;
}
.block56 {
	position: absolute;
	width: 30px;
	height: 10px;
	border-right: 1px solid #fffb00;
	border-bottom: 2px solid #fffb00;
	border-radius: 0 36% 48% 0;
   box-shadow: 2px 3px 4px -1px #fbff00;
	right: -30px;
	top: 0;
	right: -75px;
   top: 1px;
	background-color: #000;
}
.bottom__car {
	width: 100%;
	height: 128px;
	font-size: 0px;
	margin-top: -4px;
}
.bamper {
	width: 900px;
	height: 128px;
	position: relative;
	/* border: 1px solid #ff00f2; */
	border-radius: 40% 1% 21% 11% / 72% 3% 100% 9%;
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 49%, rgba(252,176,69,1) 98%);
	position: relative;
	top: 0;
	
}
.fara {
	width: 100px;
	height: 10px;
	background-color: rgb(255, 255, 255);
	border-radius: 4px 104% 0px 5px;
	box-shadow: 1px 0px 9px 3px #ffffff;
	position: absolute;
	bottom: 55px;
}
.fara2 {
	width: 80px;
	height: 10px;
	background-color: rgb(255, 255, 255);
	border-radius: 4px 104% 0px 5px;
	box-shadow: 1px 0px 9px 3px #ffffff;
	position: absolute;
	bottom: 35px;
}
.fara3 {
	width: 60px;
	height: 10px;
	background-color: rgb(255, 255, 255);
	border-radius: 4px 104% 0px 5px;
	box-shadow: 1px 0px 9px 3px #ffffff;
	position: absolute;
	bottom: 15px;
}
.bok {
	position: absolute;
   width: 20px;
   height: 66px;
   border-radius: 100% 0% 100% 10% / 100% 0% 100% 0%;
   border-right: 4px solid #000;
   border-bottom: 3px solid #000;
   bottom: 0;
   left: 101px;
	box-shadow: 6px -1px 6px 1px rgba(0, 0, 0, 0.9);
	box-shadow: -7px 4px 19px -10px rgba(255, 255, 255, 0.55) inset;
}
.line {
	background-color: rgb(0, 0, 0);
    position: absolute;
    border: 1px solid #000;
    width: 95.5%;
    height: 1px;
    top: 53px;
    left: 27px;
}
.wfeel1 {
	position: relative;
   width: 120px;
   height: 88px;
   border: 1px solid #000;
   border-radius: 50% 50% 0 0;
   left: 154px;
   top: 8px;
	background-color: rgb(26, 25, 25);
}
.circle1 {
	position: absolute;
	width: 113px;
	height: 113px;
	border: 7px dashed #000;
   background-color: grey;
   top: 5px;
   left: 3px;
	border-radius: 50%;
}
.circle2 {
	position: absolute;
	width: 98px;
   height: 98px;
    /* padding: 6px; */
   border: 1px solid #000;
   background-color: rgb(255, 255, 255);
   border-radius: 50%;
   top: 0.5px;
   left: 1px;
}
.circle3 {
	position: absolute;
	width: 40px;
	height: 40px;
	border: 10px solid #000;
	border-radius: 50%;
	top: 28px;
   left: 28px;
	box-shadow: 0px 0px 24px 33px rgba(0, 144, 255, 0.55);

}
.wfeel2 {
	position: relative;
   width: 120px;
   height: 88px;
   border: 1px solid #000;
   border-radius: 50% 50% 6px 0;
   left: 505px;
   top: 8px;
	background-color: rgb(26, 25, 25);
}
.door {
	position: relative;
   height: 120px;
   width: 216px;
   border-top: 0px solid;
   border-right: 3px solid #000;
   border-bottom: 0px solid #000;
   border-left: 1px solid #000;
   top: 0px;
   left: 91px;
   border-radius: 5% 0% 9% 6% / 63% 0% 78% 9%; 
}
.handle {
	position: absolute;
	width: 30px;
	height: 5px;
	border-top: 0px solid;
   border-right: 0px solid #000;
   border-bottom: 3px solid #000;
   border-left: 0px solid #000;
	border-radius: 0% 0% 12% 51% / 0% 0% 100% 67% ;
	box-shadow: 3px 4px 4px 1px rgb(0, 255, 221);
    top: 33px;
    left: 174px;
	/* z-index: 1; */
}
.wing {
	position: absolute;
   width: 160px;
   height: 70px;
   border-top: 3px solid #000;
   border-right: 0px solid #000;
   border-bottom: 0px solid #000;
   border-left: 0px solid #000;
   border-radius: 50% 50% 0% 0% / 50% 50% 0% 0%;
   top: 20px;
   left: 136px;
}
.wing2 {
	position: absolute;
   width: 160px;
   height: 70px;
   border-top: 3px solid #000;
   border-right: 0px solid #000;
   border-bottom: 0px solid #000;
   border-left: 0px solid #000;
   border-radius: 50% 50% 0% 0% / 50% 50% 0% 0%;
   top: 20px;
   right: 136px;
}
.fara4 {
	width: 100px;
	height: 10px;
	background-color: rgb(255, 0, 85);
	
	border-radius: 5px 0% 104% 4px;
	box-shadow: 1px 0px 9px 3px #ff00b3bb;
	position: absolute;
	bottom: 108px;
    right: -9px;
}
.fara5 {
	width: 95px;
    height: 10px;
    background-color: rgb(255, 0, 85);
    
    border-radius: 5px 0% 104% 4px;
    box-shadow: 1px 0px 9px 3px #ff00b3bb;
    position: absolute;
    bottom: 92px;
    right: -4px;
}
.fara6 {
	width: 90px;
    height: 10px;
    background-color: rgb(255, 0, 85);
    
    border-radius: 5px 0% 104% 4px;
    box-shadow: 1px 0px 9px 3px #ff00b3bb;
    position: absolute;
    bottom: 77px;
    right: 1px;
}
.fara7 {
	width: 79px;
    height: 10px;
    background-color: rgb(255, 0, 85);
    
    border-radius: 5px 0% 104% 4px;
    box-shadow: 1px 0px 9px 3px #ff00b3bb;
    position: absolute;
    bottom: 60px;
    right: 12px;
}
.treshhold {
	position: absolute;
   height: 8px;
   width: 351px;
   border-top: 1px solid #000;
   border-right: 3px solid #000;
   border-bottom: 0px solid #000;
   border-left: 3px solid #000;
   border-radius: 80% 80% 0 0;
   bottom: 0;
   right: 275px;
}
.car__footer {
	position: relative;
	height: 30px;
	width: 100%;
}
.nion1 {
	position: absolute;
	width: 150px;
	/* height: 5px; */
	left: 5px;
	box-shadow: 0px 14px 10px 5px #ffffffde;
}
.noi2 {
	position: absolute;
	width: 351px;
	/* height: 5px; */
	left: 275px;
	box-shadow: 0px 14px 10px 5px #f700ffde;
}
.nion3 {
	position: absolute;
	width: 100px;
	/* height: 5px; */
	right: 74px;
	box-shadow: 0px 14px 10px 10px #ff00b3bb;
}



/* .header {
	background-color: #7a956b;
}
.header__container {
	max-width: 80%;
	margin: 0px auto;
}
.header__menu {
}
.header__list {
	font-size: 0;
}
.header__list > li {
	position: relative;
	display: inline-block;
	margin: 0px 15px 0px 0px;
}
.header__list > li:hover .header__sub-list {
	display: block;
}
.header__list > li:hover .header__link {
	color: yellow;
}

.header__list > li:last-child {
	margin-right: 0;
}
.header__list > li:last-child .header__sub-list {
	left: auto;
	right: 0;
}

.header__link {
	font-size: 12px;
	padding: 10px 0;
	display: inline-block;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}

.header__sub-list {
	display: none;
	min-width: 150px;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: orange;
	padding: 15px;
}
.header__sub-list li {
	margin: 0px 0px 7px 0px;
}
.header__sub-list li:last-child {
	margin-bottom: 0;
}

.header__sub-link {
	font-size: 14px;
	color: #fff;
}
.header__sub-link:hover {
	text-decoration: underline;
}

.main {
	padding: 30px 0px 0px 0px;
}
.main__container {
	max-width: 80%;
	margin: 0px auto;
}

.cart {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	color: #fff;
	background-color: yellowgreen;
}
.cart::before {
	position: absolute;
	line-height: 20px;
	min-width: 20px;
	padding: 0px 5px;
	height: 20px;
	right: 0;
	top: 0;
	background-color: red;
	border-radius: 50%;
	font-size: 12px;
	content: attr(data-counter);
}
.cart:hover {
	background-color: yellow;
	color: #000;
} */
