@font-face {
    font-family: 'Cyberpunk';
    src: url('Cyberpunk-Regular.woff2') format('woff2'),
        url('Cyberpunk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

